.screen-intro__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #1e3c72, #2a5298);
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
    cursor: default;
}

.screen-intro__heading {
    margin-top: 0;
    font-size: 6vh;
    margin-bottom: 6vh;
}

.screen-intro__cta {
    padding: 3vh 7vh;
    font-size: 5.5vh;
    font-weight: bold;
    border-radius: 3.5vh;
    border: none;
    background-color: #fdac00;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    cursor: pointer !important;
    text-shadow: 0 0 2.75vh rgba(0,0,0,.4);
}

.screen-intro__logo {
    width: 25vh;
    position: absolute;
    right: 8vh;
    bottom: 5vh;
}
