.screen-intro__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #1e3c72, #2a5298);
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
    cursor: default;
}

.screen-intro__heading {
    margin-top: 0;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.screen-intro__cta {
    padding: 1.5rem 3rem;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    background-color: #fdac00;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    cursor: pointer !important;
}

.screen-intro__logo {
    width: 25vh;
    position: absolute;
    right: 7rem;
    bottom: 5vh;
}
