.username {
    position: absolute;
    z-index: 200;
    bottom: 4rem;
    width: 100vw;
    text-align: center;
    font-weight: bold;
    color: white;
}

.username__label {
    color: black;
    padding-right: 0.5rem;
}
