.username {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  align-items: center;
  font-family: 'Orbitron', monospace;
  color: #00ff00;
  font-size: 2.5vh;
  background: #111;
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  box-shadow: 0 0 8px #00ff00;
  max-width: fit-content;
}

.username__label {
  margin-right: 0.3em;
  font-weight: bold;
  text-shadow:
    0 0 2px #00ff00,
    0 0 4px #00ff00;
}

.username__name {
  font-weight: bold;
  text-shadow:
    0 0 2px #00ff00,
    0 0 4px #00ff00;
}
