.screen-login {
    background: url('./poster-update.png') right bottom  no-repeat fixed;
    background-size: 100.5% 106.3%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-login__qr {
    width: 32vh;
    height: 32vh;
    position: absolute;
    bottom: 5vh;
}

.screen-login__logo {
    width: 25vh;
    position: absolute;
    right: 7rem;
    bottom: 5vh;
}
