.screen-login {
    background: url('./poster-large.png') right bottom  no-repeat fixed;
    background-size: 100% 135%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
}

.screen-login__qr {
    width: 37.5vh;
    height: 37.5vh;
    position: absolute;
    bottom: 5vh;
    z-index: 10;
}

.screen-login__logo {
    width: 25vh;
    position: absolute;
    left: 8vh;
    bottom: 5vh;
}

.screen-login__scores {
    position: absolute;
    right: 8vh;
    bottom: 5vh;
}
